<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello</title>
</head>
<body>
	<nav id="menu">
		<ul>
			<li><a href="@{/home}">Home</a></li>
			<li><a href="@{/perfil}">perfil</a></li>
			<li><a href="@{/configuracao}">configuração</a></li>
			<li>Logout</li>
		</ul>
		
		<div id="container">
			<h1>Bem vindos ao Sistema</h1>
			<img alt="imagem de bem-vindos" src="/images/atividades.jpg" id="welcome-image">
			<p>
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
			</p>
		</div>
	</nav>
</body>
</html>